body, html {
  height: 100%;
  width: 100%;
}



.g_map {
  height: 100vh !important;
}

body {
  background: #f7f7f7;
  color: #304650;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  font-size: 16px;
}

input[text] {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
}

input:focus {
  outline: none;
}

.h2 {
  font-size: 1.3rem;
}

.h5 {
  font-size: .9rem;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.right {
  float: right;
}

.left {
  float: left;
}

.p1 {
  padding: 10px;
}

.mx-45 {
  max-width: 45%;
}
.mx-55 {
  max-width: 55%;
}

.m-10 {
  margin: 10px;
}
.mr-1 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bd-1 {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  color: #565a5c;
}

.bg-white {
  background-color: #fff;
}

// BUTTONS


.btn-primary.btn {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 2px;
  border: 0px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover {
  border-color: #ff7e82;
  background-color: #ff7e82;
}

.search-btn {
  padding: 7px 27px;
  font-size: 16px;
  vertical-align: baseline;
}
// SEARCH

.goodluck-header {
  padding: 7px 20px;
  background: #fff;
  border-bottom: 1px solid #dce0e0;
}


.search-topbar {
   position: fixed;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   height: 47px;
}

.location {
  font-size: 16px;
  padding: 8px 10px;
  width: 300px;
}

// END



.map-search {
  position:fixed;
  top: 60px;
  right: 0px;
}

.result-search {
  position: absolute;
  z-index: 1;
  top: 58px;
  left: 0px;
}


// RESULT

.structure {
  float: left;
  height: 400px;
  width: 320px;
  overflow: hidden;
}

.rounded {
  border-radius: 3px;
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: #c3c9c9;
}

.description {
  margin-top: 5px;
}

.p5 {
  padding: 5px;
}

.fit {
  height: 100%;
  width: 100%;
}


// END
