.btn-primary.btn {
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  color: #fff;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 2px;
  border: 0px solid;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

.btn:hover {
  border-color: #ff7e82;
  background-color: #ff7e82;
}

.search-btn {
  padding: 7px 27px;
  font-size: 16px;
  vertical-align: baseline;
}
